
.footer {
  background: white;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-copyright{

  position: relative;
  top: 40px;
  left: 400px;
}

.footer .fa-heart {
  color: #D23333;
}
